# Entorno virtual (si estás utilizando virtualenv o venv)
venv/
env/

# Archivos generados por el sistema de archivos
*.pyc
*.pyo
__pycache__

# Archivo de base de datos SQLite
*.sqlite3

# Carpeta de archivos estáticos compilados
/staticfiles/

# Carpeta de archivos estáticos de desarrollo
/static/

# Carpeta de archivos de medios cargados por el usuario
/media/

# Carpeta de configuración local (si tienes archivos específicos de configuración local)
local_settings.py

# Archivo de registro
*.log

# Archivo de caché
__pycache__/

# Carpeta de compilación de Python
/build/

# Carpeta de distribución de Python
/dist/

# Carpeta de archivos de egg
*.egg-info/

# Carpeta de entorno virtual (si estás utilizando virtualenvwrapper)
.env/

# Carpeta de dependencias (si estás utilizando Pipenv)
.Pipfile.lock
